{% extends "master.html" %}

{% block title %}View/Edit bug{% endblock %}
{%block tag %}home{% endblock %}

{% block content %}
<section>
  <div class="container">
    <h3>{{ bd['summary'] }} </h3>
    <form class="form-inline border-radius" action="{{ url_for('view_bug', bug_id=bd['id']) }}" method="POST"> 
          <input name="product_id" type="hidden" value="{{ product_id }}"></input>
   
      <div class="row clearfix">
        <div class="column two-thirds">
          <!--<div class="form-item">
            <label for="summary">Summary</label>    
            <input type="text" id="summary" name="summary" disabled value="{{ bd['summary'] }}">
          </div> -->
          <div class="form-item">
            <textarea name="bug_desc" id="bug_desc" disabled>{{ bd['desc'] }}</textarea>
          
          </div>
        </div>
        <div class="column third">
          <div class="form-item">
            <label for="bug_component">Component</label>
             <select name="bug_component" id="bug_component" >
              
              {% if auth_flag %}
              {%for item in components %}
              <option value="{{ item[0] }}"{% if bd['component'] == item[0] %} selected{% endif %}>{{ item[1] }}</option>
              {% endfor %}
              {% else %}
              <option value="{{ bd['component'] }}" selected>{{ component_name }}</option>
              {% endif %}
              
            </select>
          </div>
          <div class="form-item">
            <label for="bug_status">Status</label>
              <select name="bug_status" id="bug_status" >
              {%for item in status %}
              <option value="{{ item[0] }}"{% if bd['bug_status'] == item[0] %} selected{% endif %}>{{ item[1] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-item">
            <label for="bug_whiteboard">Whiteboard</label>

            <input type="text" name="bug_whiteboard" id="bug_whiteboard" value="{{ bd['bug_whiteboard'] }}">
          </div>
          <div class="form-item">
            <label for="bug_severity">Severity</label>

            <select name="bug_severity" id="bug_severity" >
              {%for item in severity %}
              <option value="{{ item[0] }}"{% if bd['severity'] == item[0] %} selected{% endif %}>{{ item[1] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-item">
            <label for="bug_version">Version</label>
            <select name="bug_version" id="bug_version" >
              {%for item in versions %}
              <option value="{{ item[0] }}"{% if bd['bug_versions'] == item[0] %} selected{% endif %}>{{ item[1] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-item">
            <label for="bug_hardware">Hardware</label>

            <input type="text" name="bug_hardware" id="bug_hardware">
          </div>
          <div class="form-item">
            <label for="bug_priority"  >Priority</label>
            <select name="bug_priority" id="bug_priority" >
              {%for item in priority %}
              <option value="{{ item[0] }}"{% if bd['priority'] == item[0] %} selected{% endif %}>{{ item[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-item">
            <label for="bug_assignee">Assignee</label>

            <input type="text" name="bug_assignee" id="bug_assignee" placeholder="Leave blank for default" value={{ bd['bug_assignee'] }}>
          </div>
          <div class="form-item">
            <label for="bug_depends_on">Depends On</label>

            <input type="text" name="bug_depends_on" id="bug_depends_on" placeholder="Enter comma separated bug ids, e.g 1,2,3"  value={{ bd['bug_depends_on'] }}>
          </div>
          <div class="form-item">
            <label for="bug_blocks_on">Blocks</label>

            <input type="text" name="bug_blocks" id="bug_blocks" placeholder="Enter comma separated bug ids, e.g 1,2,3"  value={{ bd['bug_blocks'] }}>
          </div>
          <div class="form-item">
            <label for="bug_cc" >Bug CC</label>

            <input type="text" name="bug_cc" id="bug_cc" placeholder="Enter comma separated email ids." value={{ bd['bug_cc'] }}>
          </div>
          <div class="form-item">
            <label for="bug_docs" >Docs Maintainer</label>
            <input type="text" name="bug_docs" id="bug_docs"  value={{ bd['bug_docs'] }}>
 
          </div>
        </div>
         <div class="column full">
            {% for row in comments %}
            <fieldset>
              <legend>Comment#{{ loop.index }}</legend>
              <pre>{{ row.mesg }}</pre>
            </fieldset>
            {% endfor %}
         </div>


      {% if auth_flag %}
         <div class="column full">
          <div class="form-item">
            <fieldset>
              <legend>New comment</legend>
              <textarea name="new_comment" id="new_comment"></textarea>
            </fieldset>
          </div>
         </div>
          <input type="submit" value="Update and Comment" class="btn btn-small border gray pill">
      {% endif %}

      </div>
      {{ form.csrf_token }}
    </form>

  </div> <!-- end container -->
</section>
{% endblock %}
