{% extends "master.html" %}

{% block title %}Home{% endblock %}
{%block tag %}home{% endblock %}

{% block content %}
	<section>
      <div class="container">
        <h1>Why bother with responsive?</h1>
        <p>We want our websites to be useable on all devices by responding to
        the user’s behavior, screen size and screen orientation.</p>
      </div>
	</section>
{% endblock %}