<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% endblock %} - Bugspad</title>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='normalize.css') }}"/>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='grid.css') }}"/>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='concise.css') }}"/>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='theme.css') }}"/>
    {% block header %}{% endblock %}
  </head>
  <body>
    <header class="clearfix">
      <div class="container">
        <div class="intro">
          <a href="/"><h1>Bugspad</h1></a>
        </div>
      </div>
        <nav class="nav-responsive-left">
          <ul class="list-inline">
            <li><a href="/">Home</a></li>
            <li><a href="/products/">New Bug</a></li>
            <li><a href="#">Search</a></li>
            {% if g.fas_user %}<li><a href="#">My bugs</a></li>{% endif %}
          
            <li>
            {% if g.fas_user %}
            <span class="text">logged in as </span>
            {{ g.fas_user.username }} |
            <a href="{{ url_for('auth_logout') }}?next={{request.url}}">log out</a>
            {% else %}
            <a href="{{ url_for('auth_login') }}?next={{request.url}}">login</a>
            {% endif %}
            </li>
          </ul>
        </nav>
    </header>
    <div id="content">
        <section>
            <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if category, messages %}
                    {% for category, message in messages %}
                    <div class="alert-box {{ category }}"><span>{{ category }}: </span>{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}      
            </div>
        </section>
    </div>
    {% block content %}{% endblock %}
    <footer>
    </footer>
    {% block jscripts %}
    {% endblock %}
  </body>
</html>

