{% extends "master.html" %}

{% block title %}Select the product{% endblock %}
{%block tag %}Products{% endblock %}

{% block content %}
	<section>
      <div class="container">
        <h1>Select the product to file the bug against.</h1>
        {% for item in products%}
        <div class="label bg-blue"><a href="{{ url_for('new_bug', product_id=item[0]) }}">{{ item[1] }}</a></div>
        {% endfor %}
      </div>
	</section>
{% endblock %}